NEXT_PUBLIC_SUPABASE_URL=https://qpxnsxphwufrnfejphat.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-czHfII217kgXwBOhtB9kw_TA964s7l
DATABASE_URL=jdbc:postgresql://db.qpxnsxphwufrnfejphat.supabase.co:5432/postgres?sslmode=require
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=your_supabase_db_password_here
PORT=8080
